@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.leaflet-default-icon-path {
    background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

:root {
  --primary-red: #e53e3e;   
  --secondary-blue: rgba(66, 167, 195, 1); 
  --secondary-blue-hover: #358ca5;
  --accent-black: #1a1a1a;                  
  
  --bg-light: #f8fafc;                      
  --white: #ffffff;
  --text-gray: rgba(209, 213, 219, 1);                    
  --text-label:rgb(55, 65, 81);

  --main-font: 'Poppins','sans-serif';
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  background-color: var(--bg-light);
  color: var(--accent-black);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

button {
  cursor: pointer;
  font-family: inherit;
  transition: all 0.5s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}